.App {
  text-align: center;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-weight: bold;
    color: rgb(68, 74, 74);
}

.center {
  display: flex;
  justify-content: center;
}

.particles {
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;


}
